<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Weather App</title>
</head>
<style>
    .container{
        margin: 23px 334px;
    }
    button{
    border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1rem;
    border-radius: 2rem;
    text-transform: uppercase;
    background-color: peachpuff;
    box-shadow: 0 8px 6px -6px #000;
    outline: none;
    margin-left: 334px;

    }
    button:hover{
    box-shadow: 0 8px 6px -6px rgb(103, 184, 206);
}
   .container h1{
       color: hsl(28, 88%, 69%);
       margin-left: 220px;
   }
</style>
<body>
    <div class="container">
        <img src="images/OIP.jpg" alt="">
        <h1>OPPS! PAGE NOT FOUND</h1>
        <a href="/"><button>go back</button></a>
    </div>
</body>
</html>